.header {
	width: calc(100vw - 26%);
	height: 2rem;
	justify-content: space-between;
	display: flex;
	padding: 1rem 12.5%;
	background-color: #c9a779;
	align-items: center;
	margin-left: -12.5%;
	z-index: 5;
}
.header a {
	text-decoration: none;
	color: black;
	font-family: "henderson-sans-basic";
	font-weight: bold;
	font-size: 1.25rem;
	padding: 0;
}
.header a:hover {
	text-decoration: underline;
}
.clicked {
	text-decoration: underline !important;
}
.logo {
	height: 100%;
	width: 3rem;
	margin-top: 0.5rem;
}
.sidebar-left {
	background-image: url(/sideline.svg);
	background-size: contain;
	background-repeat: repeat-y;
	height: 100%;
	width: 5%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;
}
.sidebar-right {
	background-image: url(/sideline2.svg);
	background-size: contain;
	background-repeat: repeat-y;
	height: 100%;
	width: 5%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: -5;
	margin-right: -0.75%;
}
