@import url(https://use.typekit.net/tqb4cvr.css);
:root {
	background-color: rgb(222, 244, 251);
}
body {
	margin: 0;
}
.padding {
	padding: 0 10%;
}
h1,
h2,
h3,
p,
li {
	font-family: "henderson-sans-basic";
}
